/*Configuraçõs universal*/
* {
    margin: 0px;
    padding: 0px;

    font-family: Arial;
}

/*Cabeçalho*/
header {

    font-family: Arial;

    background-color: rgb(110, 6, 148);
    color: white;

    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

}

/*Principal*/
main {

    display: flex;
    flex-direction: column;

    margin-top: 20px;



}

/*Configurações do calendario*/

.section_calenddarioEaviso {

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    margin-bottom: 80px;

}

.section_calenddarioEaviso .div_calen {

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: red;

    height: 200px;
    width: 240px;

}

/*Configurações dos avisos*/

.section_calenddarioEaviso .div_avis {

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: red;

    height: 100px;
    width: 200px;

    font-family: Arial;

}

/*Configurações da div materias*/

.section_materias {

    display: flex;
    flex-direction: column;

    margin-bottom: 60px;

}

.section_materias h2 {

    margin-left: 20px;
    margin-bottom: 20px;

}

.div_materiasSemH2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.div_inputsMaterias {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;

}

.input_textMateria {

    height: 45px;
    width: 350px;

    padding-left: 10px;

    border-radius: 10px;
    border: 2px solid black;

}








.input_textMateriaCadas {

    background-color: rgb(110, 6, 148);
    color: white;

    height: 47px;
    width: 100px;

    border-radius: 10px;
    border: 2px solid black;

    transition: 0.3s;

}

.input_textMateriaCadas:hover {

    background-color: rgb(223, 192, 234);
    color: white;

    transform: translateY(-5px);

}

/*Configurações da Primeira tabela*/

.div_materiasRes {

    width: 460px;
    margin: 50px auto;

    border: 2px solid white;
    border-radius: 20px;

    background-color: rgb(110, 6, 148);


    overflow: hidden;

}


.tabela1 {

    width: 100%;

    border: 2px solid black;

    border-collapse: collapse;

    color: white;


}

.tabela1 th {

    background-color: rgb(110, 6, 148);

    color: white;

    font-size: 19px;
    font-family: Arial;

    padding: 25px;

    text-align: center;

    border-right: 1px solid white;
}

.tabela1 th:last-child {
    border-right: none;
}

.tabela1 td {


    color: black;

    padding: 22px;

    font-size: 22px;

    text-align: center;


    border: 1px solid black;

}

.tabela1 tr:nth-child(even) {
    background-color: rgb(223, 192, 234);
}

.tabela1 tr:nth-child(odd) {
    background-color: white;
}

.tabela1 tr:hover {

    background-color: rgb(238, 218, 245);

}

/*Configurações das Tarefas*/

.section_tarefas h2 {

    margin-left: 20px;
    margin-bottom: 20px;

}

.div_inputsTarefas {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    height: 150px;

}

.div_inputNomeDaTarefa input {

    height: 45px;
    width: 350px;

    padding-left: 10px;

    border-radius: 10px;
    border: 2px solid black;

}

.div_inputNomeDaMateriaTare {

    display: flex;
    flex-direction: column;

}

.div_inputElabelDatetimeTare {

    display: flex;
    flex-direction: column;

}

.select_materias {

    padding-left: 10px;

    border-radius: 10px;
    border: 2px solid black;

    height: 47px;

}

.select_materias optgroup {

    background-color: rgb(110, 6, 148);
    color: white;

    font-size: 19px;

}

.select_materias option {

    background-color: white;
    color: black;

    height: 100px;

    font-size: 16px;

}

.div_inputBotCadasTare input {

    background-color: rgb(110, 6, 148);
    color: white;

    height: 47px;
    width: 100px;

    border-radius: 10px;
    border: 2px solid black;

    transition: 0.3s;

}

.div_inputBotCadasTare input:hover {

    background-color: rgb(223, 192, 234);
    color: white;

    transform: translateY(-5px);

}


/*configurações da Segunda tabela*/

.div_tarefasRes {

    width: 750px;
    margin: 50px auto;

    border: 2px solid white;
    border-radius: 20px;

    background-color: rgb(110, 6, 148);

    overflow: hidden;

}

.tabela2 {

    width: 100%;

    border: 2px solid black;

    border-collapse: collapse;

    color: white;


}

.tabela2 th {

    background-color: rgb(110, 6, 148);

    color: white;

    font-size: 19px;
    font-family: Arial;

    padding: 25px;

    text-align: center;

    border-right: 1px solid white;
}

.tabela2 th:last-child {
    border-right: none;
}

.tabela2 td {


    color: black;

    padding: 22px;

    font-size: 22px;

    text-align: center;

    border: 1px solid black;

}

.tabela2 tr:nth-child(even) {
    background-color: rgb(223, 192, 234);
}

.tabela2 tr:nth-child(odd) {
    background-color: white;
}

.tabela2 tr:hover {

    background-color: rgb(238, 218, 245);

}

/*Radapé*/

footer {

    background-color: rgb(110, 6, 148);
    color: white;

    height: 80px;

    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;


}